.advantages__item {
  background: #eeeeee;
}

.advantages__item--full {
  background: #81B3D2;
  color: #ffffff;
}

.advantages__container {
  padding: 23px 18px 46px;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.advantages__attractions {
  background: #ffffff;
  color: #333333;
}
