.advantages__list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  background-color: #eeeeee;
}

.advantages__item--full {
  width: 100%;

  color: #ffffff;

  background-color: #81b3d2;

  @media (min-width: @tablet-width) {
    display: grid;

    grid-column: 1 / -1;
  }
}

.advantages__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;

    grid-template-columns: 1fr 2fr;
  }
}

.advantages__container {
  padding: 23px 18px 46px;

  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    flex-shrink: 0;
    width: 256px;
    min-height: 256px;
    padding: 40px 30px 60px;
  }
}

.advantages__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.advantages__wrapper .advantages__title {
  color: #ffffff;
}

.advantages__description {
  text-transform: uppercase;
}

.advantages__attractions {
  color: #333333;

  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__attractions-item {
  @media (min-width: @tablet-width) {
    padding: 60px 30px 60px;

    text-align: center;
  }
}

.advantages__img {
  width: 100%;
  height: 260px;

  @media (min-width: @tablet-width) {
    height: auto;
  }
}

.advantages__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages__item--full + .advantages__item--full .advantages__wrapper {
  @media (min-width: @tablet-width) {
    grid-template-columns: 2fr 1fr;
  }
}

.advantages__item--full + .advantages__item--full .advantages__img {
  @media (min-width: @tablet-width) {
    order: -1;
  }
}
