.description__intro {
  background-image: url("../img/intro-mobile.jpg");
  color: #ffffff;
  background-color: #82b3d3;
  background-repeat: no-repeat;
  padding: 90px 20px 85px;
  background-position: center bottom, center;
  background-size: 100% auto, cover;
}

.description__wrapper {
  padding: 37px 30px 25px;
  text-align: center;
  text-transform: uppercase;
}

.description__title {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.description__text {
  margin-top: 0;
}
