.photo__list {
  @media (min-width: @tablet-width) {
    display: grid;
  }
}

.photo__title {
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
